paper.aux
paper.acn
paper.ist
paper.log
paper.out
paper.bbl
paper.blg
paper.run.xml
paper-blx.bib
paper.pdf
paper.auxlock
externalized/*
paper.fdb_latexmk
paper.synctex.gz
/.project
.DS_Store
.DS_Store?
~*.*